{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Dua Lipa Songs API",
    "description": "API for retrieving information about Dua Lipa's songs and albums."
  },
  "host": "api.dualipasongs.com",
  "basePath": "/v1",
  "schemes": ["https"],
  "paths": {
    "/songs": {
      "get": {
        "summary": "List all songs",
        "description": "Retrieve a list of all songs by Dua Lipa.",
        "responses": {
          "200": {
            "description": "List of songs",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Song"
              }
            }
          }
        }
      }
    },
    "/songs/{id}": {
      "get": {
        "summary": "Get song details",
        "description": "Retrieve details about a specific song by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the song"
          }
        ],
        "responses": {
          "200": {
            "description": "Song details",
            "schema": {
              "$ref": "#/definitions/Song"
            }
          },
          "404": {
            "description": "Song not found"
          }
        }
      }
    },
    "/albums": {
      "get": {
        "summary": "List all albums",
        "description": "Retrieve a list of all albums by Dua Lipa.",
        "responses": {
          "200": {
            "description": "List of albums",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Album"
              }
            }
          }
        }
      }
    },
    "/albums/{id}/songs": {
      "get": {
        "summary": "Get songs from an album",
        "description": "Retrieve a list of songs from a specific album by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the album"
          }
        ],
        "responses": {
          "200": {
            "description": "List of songs in the album",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Song"
              }
            }
          },
          "404": {
            "description": "Album not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Song": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "song-123"
        },
        "title": {
          "type": "string",
          "example": "Levitating"
        },
        "album": {
          "type": "string",
          "example": "Future Nostalgia"
        },
        "duration": {
          "type": "string",
          "example": "3:23"
        },
        "releaseDate": {
          "type": "string",
          "example": "2020-03-27"
        }
      }
    },
    "Album": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "album-456"
        },
        "title": {
          "type": "string",
          "example": "Future Nostalgia"
        },
        "releaseDate": {
          "type": "string",
          "example": "2020-03-27"
        },
        "songsCount": {
          "type": "integer",
          "example": 11
        }
      }
    }
  }
}
