{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "NBA API",
    "description": "API for managing NBA teams, players, and game statistics."
  },
  "host": "api.nbalibrary.com",
  "basePath": "/v1",
  "schemes": ["https"],
  "paths": {
    "/teams": {
      "get": {
        "summary": "List all teams",
        "description": "Retrieve a list of all NBA teams.",
        "responses": {
          "200": {
            "description": "List of teams",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            }
          }
        }
      }
    },
    "/teams/{id}": {
      "get": {
        "summary": "Get team details",
        "description": "Retrieve details of a specific NBA team by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the team"
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "schema": {
              "$ref": "#/definitions/Team"
            }
          },
          "404": {
            "description": "Team not found"
          }
        }
      }
    },
    "/players": {
      "get": {
        "summary": "List all players",
        "description": "Retrieve a list of all NBA players.",
        "responses": {
          "200": {
            "description": "List of players",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        }
      }
    },
    "/games": {
      "get": {
        "summary": "List all games",
        "description": "Retrieve a list of all NBA games.",
        "responses": {
          "200": {
            "description": "List of games",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Team": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "team-001"
        },
        "name": {
          "type": "string",
          "example": "Los Angeles Lakers"
        },
        "city": {
          "type": "string",
          "example": "Los Angeles"
        },
        "championships": {
          "type": "integer",
          "example": 17
        }
      }
    },
    "Player": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "player-001"
        },
        "name": {
          "type": "string",
          "example": "LeBron James"
        },
        "teamId": {
          "type": "string",
          "example": "team-001"
        },
        "position": {
          "type": "string",
          "example": "Forward"
        },
        "pointsPerGame": {
          "type": "number",
          "format": "float",
          "example": 27.0
        }
      }
    },
    "Game": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "game-001"
        },
        "date": {
          "type": "string",
          "format": "date",
          "example": "2023-12-25"
        },
        "homeTeamId": {
          "type": "string",
          "example": "team-001"
        },
        "awayTeamId": {
          "type": "string",
          "example": "team-002"
        },
        "score": {
          "type": "string",
          "example": "102-98"
        }
      }
    }
  }
}
